In [115]:
# Import libraries
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [116]:
# Data
URL = "https://www.puneairport.com/departures.php"
page = requests.get(URL)
#print(r.content)

In [117]:
# Create a BeautifulSoup object
soup = BeautifulSoup(page.content, "html5lib")
#print(soup.prettify())

In [118]:
dep_table = soup.find('div',{'class':"flights-info"})
#print(dep_table)

In [174]:
job_elements = dep_table.find_all("div", recursive=True, class_="flight-row")
for element in job_elements:
    desti = element.find("div", class_="flight-col flight-col__dest").get_text()
    dep_time = element.find("div", class_="flight-col flight-col__hour").get_text()
    flight_nu = element.find("div", class_="flight-col flight-col__flight").get_text()
    airline = element.find("div", class_="flight-col flight-col__airline").get_text()
    print(desti.strip())
    print(dep_time.strip())
    print(flight_nu.strip())
    print(airline.strip())
    #print(job_elements)
    print()

Destination
Departure
Flight
Airline

Delhi
							(DEL)
18:50
AI850
																 	LH5294
Air India
								 										 			Lufthansa

Bengaluru
							(BLR)
18:55
UK554
Vistara

Bengaluru
							(BLR)
19:05
6E6055
																 	AF3344
																 	QF8340
IndiGo
								 										 			Air France
								 										 			Qantas

Bengaluru
							(BLR)
19:15
I51427
AirAsia India

Bengaluru
							(BLR)
20:15
W28969
FlexFlight

Bengaluru
							(BLR)
20:15
G8242
Go First

Dubai
							(DXB)
20:30
SG51
SpiceJet

Delhi
							(DEL)
20:35
UK992
																 	AC2951
																 	BA5890
																 	LH7381
																 	LX4845
																 	UA7740
Vistara
								 										 			Air Canada
								 										 		 British Airways
								 										 			Lufthansa
								 										 			SWISS
								 										 			United Airlines

Delhi
							(DEL)
20:50
6E402
																 	AF3100
																 	KL3667
IndiGo
								 										 			Air France
								 										 			KLM Royal Dutch Airlines

Hyderabad
							(HYD)
21:30
9I868
Alliance Air

Delhi
							(DEL)
21:55
AI854
Air India

Delhi
							(DEL)
22:15
G8172
Go First

Delhi
							(DEL)
22:15
W28930
FlexFlight

Bengaluru
							(BLR)
22:25
6E103
																 	QF8342
IndiGo
								 										 			Qantas

Ahmedabad
							(AMD)
22:40
6E547
IndiGo

Bengaluru
							(BLR)
22:45
G8284
Go First

Ahmedabad
							(AMD)
23:00
SG1078
SpiceJet

Goa
							(GOI)
23:15
SG8190
SpiceJet

Kochi
							(COK)
23:40
6E6658
IndiGo

Bengaluru
							(BLR)
23:55
I5975
AirAsia India

In [146]:
type(final_df)

str

In [175]:
df = pd.DataFrame(element,columns = ['Details'], dtype = str)
display(df)

                                              Details
0                                        \n\n\t\t\t\t
1                                         Destinació
2                                          \n\t\t\t\t
3   <div class="flight-col flight-col__dest">\n\t\...
4                                        \n\n\t\t\t\t
5   <div class="flight-col__subbox">\n\n\t\t\t\t\t...
6                                        \n\n\t\t\t\t
7                                           Terminal
8                      \n\t\t\t\t\n\t\t\t\t\n\t\t\t\t
9                                             Status
10                                        \n\t\t\t\t
11  <div class="flight-col flight-col__status flig...
12                                         \n\t\t\t\t

In [176]:
id(job_elements)

2452980316816

In [177]:
type(job_elements)

bs4.element.ResultSet